@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
    background-color: hsl(185, 75%, 39%);
    height: 100vh;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

section {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    background-color: #fff;
    width: 320px;
    height: 320px;
    border-radius: 10px;
    margin: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

img {
    margin-top: 40px;
    max-width: 100%;
    border-radius: 50%;
}

hr {
    margin-top: 20px;
}

.info ul.numeros {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}


ul li p.contador {
    font-weight: 700;
}

.cidade , .tipo-contador{
    font-weight: 400;
    color: hsl(227, 10%, 46%)
}   

.idade {
    color: hsl(227, 10%, 46%);
}